<?xml version="1.0"?>
<config>
  <modules>
    <WTC_Booster>
      <version>1.0.1</version>
    </WTC_Booster>
  </modules>
  <global>
    <helpers>
      <booster>
        <class>WTC_Booster_Helper</class>
      </booster>
    </helpers>
	<blocks>
	  <booster>
		<class>WTC_Booster_Block</class>
	  </booster>
	</blocks>
	<models>
	  <booster>
		<class>WTC_Booster_Model</class>
		<resourceModel>booster_mysql4</resourceModel>
	  </booster>
	  <booster_mysql4>
			<class>WTC_Booster_Model_Mysql4</class>
            <entities>
                <booster>
                    <table>booster_settings</table>
                </booster>
            </entities>
        </booster_mysql4>
	</models>
	<resources>
	  <booster_setup>
		<setup>
		  <module>WTC_Booster</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </booster_setup>
	  <booster_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </booster_write>
	  <booster_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </booster_read>
	</resources>
  </global>
  <frontend>
	<routers>
	  <booster>
	    <use>frontend</use>
		<args>
		  <module>WTC_Booster</module>
		  <frontName>booster</frontName>
		</args>
	  </booster>
	</routers>
  </frontend>
  <admin>
	<routers>
	  <booster>
	    <use>admin</use>
		<args>
		  <module>WTC_Booster</module>
		  <frontName>booster</frontName>
		</args>
	  </booster>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <booster module="booster">
		<title>Booster</title>
		<sort_order>90</sort_order>
		<children>
		  <boosterpanel module="booster">
			<title>Magento Booster</title>
			<sort_order>0</sort_order>
			<action>booster/adminhtml_boosterpanel</action>
		  </boosterpanel>
		</children>
	  </booster>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<booster translate="title" module="booster">
			  <title>Booster</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <boosterpanel translate="title">
			<title>Magento Booster</title>
		  </boosterpanel>
			  </children>
			</booster>
		  </children>
		</admin>
		<booster_setup>
            <setup>
                <module>WTC_Booster</module>
            </setup>
            <connection>
                <use>core_setup</use>
            </connection>
        </booster_setup>
        <booster_write>
            <connection>
				<use>core_write</use>
            </connection>
        </booster_write>
        <booster_read>
            <connection>
                <use>core_read</use>
            </connection>
        </booster_read>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<booster>
		  <file>booster.xml</file>
		</booster>
	  </updates>
	</layout>
  </adminhtml>
  <crontab>
	<jobs>
		<booster_refresh_indexes>
			<schedule>
				<cron_expr>* * * * *</cron_expr>
			</schedule>
			<run>
				<model>booster/observer::doRefreshIndexes</model>
			</run>
		</booster_refresh_indexes>
	</jobs>
   </crontab>
   <default>
	<booster>
		<cron>
			<schedule>0 0 * * *</schedule>
		</cron>
	</booster>
   </default>
</config> 
